@{
    ViewData["Title"] = "Home Page";
}
<style>
    td{
        text-align: right;
        padding: 10px;
    }
    th {
        text-align: right;
        padding: 10px;
    }
</style>
<table align="center">
    <thead>
        <tr colspan="5">
            <!--LABEL THESE-->
            <th>Id</th>
            <th>Book</th>
            <th>Rating</th>
            <th>Summary</th>
            <th>Edit/Delete</th>
        </tr>
    </thead>
    <tr>
        <td>1</td>
        <td>Spiderman</td>
        <td>10/10</td>
        <td>link to other page</td>
        <td>link to other page</td>
    </tr>


</table>