@model BookModel
@{
    ViewData["Title"] = "Summary";
}
<div class="text-white">
    
<h2>Summary: </h2>
    <div>@Model.Summary</div>
    <div><h2>Genere: </h2></div>
    <div>@Model.Genre</div>
</div>

<br />
<a href="/">Back</a>
